<div>
  <label for="">Wifi</label>
  {{input value=wifi}}
</div>
<div>
  <label for="">Power</label>
  {{input value=power}}
</div>

<button type="submit" {{action save this}}>Save</button>
<button type="submit" {{action cancel this}}>Cancel</button>
